.button
	{
		display: inline-block;
		padding: 1em 1em 1em 2em;
		letter-spacing: 0.10em;
		text-align:center;
		padding: 1.1%;
		border: 2px solid rgba(255,255,255,1);
		border-radius: 6px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #FFF;
	}

	.button-alt
	{
		padding: 1em 2em;
		border-color: rgba(0,0,0,.8);
		color: rgba(0,0,0,.8);
	}